
.vs/Umbraco.Heartcore.Demo/DesignTimeBuild/.dtbcache

.vs/Umbraco.Heartcore.Demo/v16/
/packages/
Umbraco.Heartcore.Alexa/bin/
*.user

Umbraco.Heartcore.Alexa/Properties/PublishProfiles/

Umbraco.Heartcore.Alexa/obj/

*.PublishSettings
Umbraco.Hearcore.NetCore/bin/
*.user

Umbraco.Hearcore.NetCore/Properties/PublishProfiles/

Umbraco.Hearcore.NetCore/obj/

.vs/
