@model Umbraco.Headless.Client.Net.Delivery.Models.PagedContent
@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Welcome to Spice It Up!</h1>
</div>
@foreach (var item in Model.Content.Items))
{
<div class="spice-fact">
  @*Display the name of the node*@
  <h2>@item.Name</h2>

  @*Get the property value of the fact property which holds the spice fact*@
  <p>
    @item.Properties["fact"].ToString()
  </p>

  @*Display the likes on the spice fact*@
  <p class="spice-factor">Spice Factor : </p>

  @*Get the property value of the spicyCounter property which holds the likes for the spice fact*@
  <span>@(item.Properties["spicyCounter"].ToString() != string.Empty ? item.Properties["spicyCounter"].ToString() : "0")</span>

  @*A button to like the spice fact, note that I am storing the unique id of the item as a data attribute*@
  <button class="spicy-button" data-id="@item.Id"><i class="fas fa-pepper-hot"></i> That's spicy!</button>
</div>
}
