@model Umbraco.Headless.Client.Net.Delivery.Models.PagedContent
@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Welcome to Spice It Up!</h1>
</div>
@foreach (var item in Model.Content.Items)
{
  <div class="spice-fact">
    <h2>@item.Name</h2>
    <p>
      @item.Properties["fact"].ToString()
    </p>
    <p class="spice-factor">Spice Factor : </p>
    <span>@(item.Properties["spicyCounter"] != string.Empty ? item.Properties["spicyCounter"].ToString() : "0")</span>
    <button class="spicy-button" data-id="@item.Id">That's spicy!</button>
  </div>
}
